{% extends "master.html" %}
{% load static %}

{% block title %}
    Communication Enhancement LLC
{% endblock %}

{% block content %}

<section id="intro" class="wrapper style1">
    <div class="title">About Us</div>

    <div class="container">

        <img
            src="{% static 'website/ce-logo-white.png' %}"
            alt="Communication Enhancement LLC"
            style="max-width: 300px; width: 100%;"
        >

        <header class="style1">
            <h2>Communication Enhancement LLC</h2>
        </header>

        <p>
            Founded in 2002, Communication Enhancement is an independent owner
            and operator of communication real estate, headquartered in the
            Eastern United States.
        </p>

        <p>
            Initially built through acquisitions and Built-to-Suit deals, our
            continuously growing portfolio includes 138 communication property
            sites, predominantly located in the Midwestern and Southeastern
            United States.
        </p>

        <p>
            In addition to leasing space on wireless towers, we offer
            customizable relations and engineering solutions through our
            privately held company ownership.
        </p>

        <p>
            Our goal is to provide our customers with efficiency while meeting
            their immediate and long-term communication goals.
        </p>

    </div>
</section>

{% endblock %}