{% extends "master.html" %}
{% load static %}

{% block title %}
    Communication Enhamcement LLC
{% endblock %}

{% block content %}
    <img src="{% static 'website/ce-logo-white.png' %}" alt="CE LLC Logo">
    <h2>About Us</h2>
    <p>Founded in 2002, Communication Enhancement is an independent owner and operator of communication real estate, headquartered in the Eastern United States. Initially built through acquisitions and Built-to-Suit deals, our continuously growing portfolio includes 138 communication property sites, predominantly located in the Midwestern and Southeastern United States. In addition to leasing space on wireless towers, we offer customizable relations and engineering solutions through our privately held company ownership. Our goal is to provide our costumers with efficiency while meeting their immediate and long-term communication goals.</p>
{% endblock %}