{% extends "master.html" %}
{% load static %}

{% block title %}
    Communication Enhamcement LLC
{% endblock %}

{% block content %}
    <video autoplay loop muted>
        <source src="{% static 'website/Drone-Footage-Over-Tower.mp4' %}" type="video/mp4">
    Your browser does nto support the video tag.
    </video>
    <h2>Collocation</h2>
    <p>CE-LLC own and manage tower sites across 24 states with each tower designed to support multiple tenants. Our goal is to assist in your requirements of getting on-air as quickly and efficiently as possible.</p>
{% endblock %}
