{% extends "master.html" %}
{% load static %}

{% block title %}
    Communication Enhamcement LLC
{% endblock %}

{% block extra_head %}
    <style>
        .success-popup {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .success-popup-content {
            background: white;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <img src="{% static 'website/Full-Tower.jpg' %}" alt="Tower">
    <h2>Fild Downloads</h2>
    <ul>
        <li><a href="{% static 'website/Tenant Equipment Application Form.xlsx' %}">New Leases - Tenant Equipment Application Form</a></li>
        <li><a href="{% static 'website/Tenant Equipment Modification Application Form.xlsx' %}">Existing Leases - Tenant Equipment Modification Application Form</a></li>
        <li><a href="{% static 'website/DIRECT DEPOSIT CHANGE FORM.doc' %}">CE-LLC Property Owners / Landlords - Direct Deposit Change Form</a></li>
        <li><a href="{% static 'website/CHANGE OF ADDRESS LANDLORD.doc' %}">CE-LLC Property Owners / Landlords - Change of Address Landlord</a></li>
    </ul>
    <h2>CE LLC Maintenance Request Form</h2>
    {% if messages %}
        {% for message in messages %}
            <div id="success-popup" class="success-popup">
                <div class="success-popup-content">
                    <h3>Thank you!</h3>
                    <p>{{ message }}</p>
                    <button onclick="closePopup()">Close</button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
        <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit">Send</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function closePopup() {
            document.getElementById("success-popup").style.display = "none";
        }
    </script>
{% endblock %}