{% extends "master.html" %}
{% load static %}

{% block title %}
    Communication Enhamcement LLC
{% endblock %}

{% block content %}
    <video autoplay loop muted>
        <source src="{% static 'website/Drone-Footage-Up-Tower.mp4' %}" type="video/mp4">
    Your browser does nto support the video tag.
    </video>
    <h2>Communication Enhancement LLC</h2>
    <p>Communication Enhancement, LLC is a privately held telecommunications tower company based in the Eastern United States. CE-LLC owns and operates 138 communication towers located across 24 states. Check out all of our sites below on the interactive map:</p>
{% endblock %}